// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    transition: Background 1s;
    font-family: "Montserrat", sans-serif;
}
.file_holder {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    width: 280px;
    height: 200px;
    background-color: white;
}
.widget {
    background: rgba(255, 255, 255, 0.4);
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}
.widget:hover {
    transition: 1s;
    background: #3847a5;
    width: 305px;
    height: 305px;
}
.q-electron-drag:hover {
    background: #4a5ed9;
}

.fluent {
    background-color: rgba(#303d8d, 0.6);
    box-shadow: 0 0 3px rgba(#000, 0.3);
    backdrop-filter: blur(5px);
}
.fluent-white {
    background-color: rgba(rgb(255, 255, 255), 0.9);
    box-shadow: 0 0 3px rgba(#000, 0.3);
    backdrop-filter: blur(50px);
    color: rgb(0, 0, 0);
}
.btn {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgba(rgb(14, 18, 43), 0.8);
    backdrop-filter: blur(18px);
    height: 510px;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    padding-left: 10px;
}
