// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    transition: Background 1s;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}
.text-inputField {
    color: #D8E3E7;
  }
  .bg-inputField {
    background: #D8E3E7;
  }
.q-input{
    width: 100%;padding:10px 0px 10px 0px
}
.section{
    border-radius: 10px;
    margin-left: 10px;
    width: 100%;
    height: 200px;
    background-color: white;
    padding: 10px;
    resize: none;
    border: 2px;
    overflow: auto;
    outline: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.file_holder {
    border-radius: 10px;
    margin-left: 10px;
    width: 280px;
    height: 200px;
    background-color: white;
    padding: 10px;
    resize: none;
    border: 2px;
    overflow: auto;
    outline: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #1f285c;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffbb00;
}
.widget {
    background-color: rgba(#303d8d, 0.5);
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    
}
.widget:hover {
    transition  : 0.5s ease-in-out ;
    background: #00629b;
    box-shadow: 0 0 10px rgba(rgb(24, 24, 24), 0.5);
}

.fluent {
    box-shadow: 0 0 3px rgba(#000, 0.3);
    backdrop-filter: blur(5px);
}
.fluent-white {
    background-color: rgba(rgb(255, 255, 255), 0.9);
    box-shadow: 0 0 3px rgba(#000, 0.3);
    backdrop-filter: blur(50px);
    color: rgb(0, 0, 0);
}
.btn { 
    border-style: solid;
    border-width: 0.5px 5px 0.5px 5px;
    border-color: #3f51b5!important;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
}
body {
    //background-color: rgba(rgb(14, 18, 43), 0.8);
    //backdrop-filter: blur(18px);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    padding-left: 10px;
}
